img {

width: 100%;
position: fixed;
z-index: -1;

}

h1{

    font-family: 'Graduate', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
    color: yellow;
    position: absolute;
    top: 0;
    left: 450px;
}

form {

    font-family: 'Graduate', cursive;
    position: fixed;
    color: yellow;
    width: 30%;
    top: 300px;
    right: 20px;
}
  
#addTeam{

    font-family: 'Graduate', cursive;
    font-weight: bolder;


}

label{

position: fixed;
top: 280px;
right: 200px;


}

#teamButtons{

    border-style: solid;
    border-width: medium;
    border-color: black;




}